:root{
  /* shadows */
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  --shadow-none: none;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  /* colors */
  --dark-blue: #1D65D1;
  --blue: #2D73DB;
  --dark-green:#088E97;
  --green:#09A0AA;
  --light-green:#EBF4F4;
  --black:#333;
  --grey-100: #f7fafc;
  --grey-200: #edf2f7;
  --grey-300: #e2e8f0;
  --grey-400: #e2e8f0;
  --grey-500: #a0aec0;
  --grey-600: #718096;
  --grey-700: #4a5568;
  --grey-800: #2d3748;
  --grey-900: #1a202c;

  --gradient:  linear-gradient(var(--gradient-direction, 180deg), var(--blue) 0%, var(--green) 100%);

  --input-bg:var(--light-green);
}

body {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  *, *:after,
  *:before {
    box-sizing: inherit;
    position: relative;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

label + input {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
  padding: 0.65rem 0.4rem;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  border: none;
  outline: none;
  max-width: 300px;
  box-shadow: var(--shadow-md);
  color: var(--grey-700);
  font-weight: 700;
  border-radius: 4px;
  &:focus {
    color: var(--grey-900);
    box-shadow: var(--shadow-lg);

  }
}
button {
  white-space: nowrap;
  background: var(--blue);
  &.secondary{
    background: var(--green);
  }
  color: white;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-md);
  font-size: 1rem;
  padding: 0.65em 0.75em;
  &:hover {
    background: var(--dark-blue);
    box-shadow: var(--shadow-lg);
  }
  &.secondary:hover{
    background: var(--dark-green);
  }
  &:active {
    box-shadow: var(--shadow-lg), var(--shadow-outline);
  }
}

.inputs {
  padding: 10px;
  width: 230px;
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  *,
  *:after,
  *:before {
    box-sizing: inherit;
    position: relative;
  }
}
h3,
h2 {
  margin-top: 0;
  color: var(--dark-green);
  font-weight: bold;
}

main, header, footer{
  >div{
    width:95%;
    margin:0 auto;
  }
}
header{
  margin-bottom: 20px;
}
header > div{
  height: 4.5em;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
header h1{
  font-size: 1rem;
  margin: 0;
  color:var(--blue);
}

button, input{
   + button {
    margin-left:1em;
  }
}

main{
  --min-height: calc(100vh - (20px + 18px + 72px));
  min-height:var(--min-height) ;
}

.card{
  border-radius:10px;
  box-shadow: var(--shadow-md);
  background: var(--grey-200);
  padding:20px;
}

.side-by-side{
  display: flex;
  >div, svg{width:100%;}

}
.paper{
  max-width:600px;
}
.top-right{
  position: absolute;
  top:10px;
  right:10px;
}
